minimum-release-age=7200
minimum-release-age-exclude[]=@vitest/*
minimum-release-age-exclude[]=vitest
minimum-release-age-exclude[]=@chromatic-com/storybook
minimum-release-age-exclude[]=storybook
minimum-release-age-exclude[]=@storybook/*
